@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed";
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #3C4F76;

    #btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        
        #btn {  
            position: relative;
            height: 150px;
            width: 200px;
            font-size: 1.5em;
            outline: none;
            cursor: pointer;
            background-color: #DDDBF1;
            border: 0.2rem solid black;
            box-shadow: 0 3px 0 0 #383F51;

            &:active {
                top: 3px;
                box-shadow: none;
            }
        }
    }
}